asgiref==3.6.0
certifi==2023.5.7
charset-normalizer==3.1.0
Django==4.2.1
et-xmlfile==1.1.0
gunicorn==21.2.0
idna==3.4
numpy==1.26.2
openpyxl==3.1.2
packaging==23.1
postgres==4.0
psycopg2-binary==2.9.6
psycopg2-pool==1.1
pyTelegramBotAPI==4.12.0
requests==2.31.0
sqlparse==0.4.4
urllib3==2.0.2