{% extends 'base.html' %}
{% load index %}

{% block content %}

{% if perms.journal.add_client %}

{% endif %}


<table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Артикул</th>
        <th scope="col">Модель</th>
        <th scope="col">Процессор</th>
        <th scope="col">Оперативная память</th>
        <th scope="col">Диски</th>
        <th scope="col">Операционка</th>
        <th scope="col">Состояние</th>
        <th scope="col">Расположение</th>
        <th scope="col">Обслужен</th>
      </tr>
    </thead>
    <tbody class="table-group-divider">
    {% for comp in computers_list %}
      <tr>
        <th scope="row">{{ forloop.counter }}</th>
        <td>{{ comp.articul}}</td>
        <td>{{ comp.manufacture}} {{ comp.model}} {{ comp.metka}}</td>
        <td>{{ comp.cpu}} </td>
        <td>{{ comp.ozu}}</td>
        <td>{{ comp.hdd_sdd}}</td>

        <td>{{ comp.os}}</td>
        <td>{{ comp.note}}</td>
        <td>{{ comp.id_branch}}</td>
        <td>{{ comp.data_service}}</td>
    




      </tr>
    </tbody>
    {% endfor %}
  </table>


{% endblock content %}