{% extends 'base.html' %}
{% load index %}

{% block content %}

<table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Название</th>

        {% if perms.journal.add_course %}
        <th scope="col">Действия</th>
        {% endif %}
      </tr>
    </thead>
    <tbody class="table-group-divider">
    {% for course in course_list %}
      <tr>
        <th scope="row">{{ forloop.counter }}</th>
        <td>{{ course.title}}</td>

        {% if perms.journal.add_course %}
        <td>кнопки</td>
        {% endif %}
      </tr>
    </tbody>
    {% endfor %}
  </table>

  {% if perms.journal.add_course %}
  <form action="" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-primary btn-sm">Сохранить</button>
  </form>
{% endif %}

{% endblock content %}