{% extends 'base.html' %}

{% block sidebar %}
{% endblock  %}


{% block content %}

<button>Внести оплату</button>
<form method="post">
  {% csrf_token %}

  <div class="input-group mb-3">
    {% for field in form %}   
        {{ field }}
    
    {% endfor %}



  <input type="submit" class="btn btn-primary" value="Добавить">
</div>
</form>

<table class="table table-primary">
  <thead class="table-light">
    <tr>
    
      <th>Фамилия</th>
      <th>Предмет</th>
      <th>Дата</th>
      <th>Количество часов</th>
    
    </tr>
  </thead>
  <tbody class="table-group-divider">
  {% for t in journal %}
    <tr>
      <td>{{ t.id_client__surname }} {{ t.id_client__name }}</td>
      <td>{{ t.id_course__title }}</td>
      <td>{{ t.last_pay|date:"d-m-Y" }}</td>
      <td>{{ t.lost }}</td>
    </tr>    

  {% endfor %}

</table>
<div class="list-group">

</div>

{% endblock  %}

