{% extends "base.html" %}

{% block content %}

{% if form.errors %}
  <p>Your username and password didn't match. Please try again.</p>
{% endif %}

{% if next %}
  {% if user.is_authenticated %}
    <p>Your account doesn't have access to this page. To proceed,
    please login with an account that has access.</p>
  {% else %}
    <p>Please login to see this page.</p>
  {% endif %}
{% endif %}

<form method="POST" action="">
    {% csrf_token %}
        <h3>Register Profile</h3>
        <table>

            {% for field in profile_form %}
            <tr>
                <td>{{ field.label_tag }}</td>
                <td>{{ field }}</td>
                <td><div class="invalid_feedback">
                    {{ field.errors }}
                </div></td>
            </tr>
            {% endfor %}

            </table>

    <hr>
    <input id="form-button" class="btn btn-success btn-block" type="submit" value="Create Profile">
    <br>
        {{form.non_field_errors}}
    <p>Already have an account? <a href="{% url 'login' %}">Login</a></p>
</form>

{% endblock %}