{% extends 'base.html' %}

{% block content %}
<br>
{% if perms.journal.add_teacher %}
{% if form %}
<div class="bg-primary text-white">
  <h6>Добавить преподавателя</h6>
  </div>
<form method="post" class="row g-3">
  {% csrf_token %}

{{ form.media }}
<!-- 'first_name', 'last_name','contact','tg_name' -->
<input type="hidden" name="action" value="add">

    <div class="col-12 bg-light">
      <div class="row">
        <div class="col-4">
          <label for="{{ form.last_name.id_for_label }}" class="form-label">{{ form.last_name.label }}</label>
          <div>{{ form.last_name }}</div>
          <div class="link-danger">
            {{ form.last_name.errors }}
          </div>  
        </div>
        <div class="col-4">
          <label for="{{ form.first_name.id_for_label }}" class="form-label">{{ form.first_name.label }}</label>
          <div>{{ form.first_name }}</div>
          <div class="link-danger">
            {{ form.first_name.errors }}
          </div>  
        </div>
      </div>
      <div class="row">
        <div class="col-4">
          <label for="{{ form.contact.id_for_label }}" class="form-label">{{ form.contact.label }}</label>
          <div>{{ form.contact }}</div>
          <div class="link-danger">
            {{ form.contact.errors }}
          </div>  
        </div>

        <div class="col-4">
          <label for="{{ form.tg_name.id_for_label }}" class="form-label">{{ form.tg_name.label }}</label>
          <div>{{ form.tg_name }}</div>
          <div class="link-danger">
            {{ form.tg_name.errors }}
          </div>  
        </div>
        <div class="col-2">
          <input type="submit" class="btn btn-primary" value="Добавить">
        </div>    
      </div>  
    </div>

</form>
{% endif %}
{% endif %}

{% endblock content %}