{% extends 'base.html' %}

{% block content %}
<br>
{% if perms.journal.add_teacher %}
{% if form %}
<div class="bg-primary text-white">
  <h6>Добавить преподавателя</h6>
  </div>
<form method="post" class="row g-3">
  {% csrf_token %}

{{ form.media }}
<!-- 'first_name', 'last_name','contact','tg_name' -->
<input type="hidden" name="action" value="add">

    <div class="col-12 bg-light">
      <div class="row">
        <div class="col-4">
          <label for="{{ form.last_name.id_for_label }}" class="form-label">{{ form.last_name.label }}</label>
          <div>{{ form.last_name }}</div>
          <div class="link-danger">
            {{ form.last_name.errors }}
          </div>  
        </div>
        <div class="col-4">
          <label for="{{ form.first_name.id_for_label }}" class="form-label">{{ form.first_name.label }}</label>
          <div>{{ form.first_name }}</div>
          <div class="link-danger">
            {{ form.first_name.errors }}
          </div>  
        </div>
      </div>
      <div class="row">
        <div class="col-4">
          <label for="{{ form.contact.id_for_label }}" class="form-label">{{ form.contact.label }}</label>
          <div>{{ form.contact }}</div>
          <div class="link-danger">
            {{ form.contact.errors }}
          </div>  
        </div>

        <div class="col-4">
          <label for="{{ form.tg_name.id_for_label }}" class="form-label">{{ form.tg_name.label }}</label>
          <div>{{ form.tg_name }}</div>
          <div class="link-danger">
            {{ form.tg_name.errors }}
          </div>  
        </div>
        <div class="col-2">
          <input type="submit" class="btn btn-primary" value="Добавить">
        </div>    
      </div>  
    </div>

</form>
{% endif %}
{% endif %}
<br>
    <h4 class='bg-info'>Действующие</h3>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Фамилия Имя</th>
            <th scope="col">Контакт</th>
            <th scope="col">Telegram</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody class="table-group-divider">
        {% for client in active %}
            <tr>
                <th scope="row">{{ forloop.counter }}</th>
                <td>{{ client.last_name}} {{ client.first_name}}</td>
                <td>{{ client.contact }}</td>
                <td>{% if client.tg_name != 'unknown' %} https://t.me/{{ client.tg_name }} {% endif %}</td>
                
                {% if perms.journal.delete_teacher %}
                <td>
                    <form action="" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="action" value="del">
                        <input type="hidden" name="pk" value="{{ client.id }}">
                        <button type="submit" class="btn btn-danger btn-sm">Уволить</button>
            
                      </form>
                </td>
                {% endif %}
            </tr>
        </tbody>
        {% endfor %}
    </table>

    <h4 class='bg-success'>Не подтверждены</h3>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Фамилия Имя</th>
            <th scope="col">Контакт</th>
            <th scope="col">Telegram</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody class="table-group-divider">
        {% for client in new %}
          <tr>
            <th scope="row">{{ forloop.counter }}</th>
            <td>{{ client.last_name}} {{ client.first_name}}</td>
            <td>{{ client.contact }}</td>
            <td>{% if client.tg_name != 'unknown' %} https://t.me/{{ client.tg_name }} {% endif %}</td>

            {% if perms.journal.delete_teacher %}
            <td>
                <form action="" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="action" value="del">
                    <input type="hidden" name="pk" value="{{ client.id }}">
                    <button type="submit" class="btn btn-danger btn-sm">Уволить</button>
        
                  </form>
            </td>
            {% endif %}
          </tr>
        </tbody>
        {% endfor %}
    </table>

    {% if perms.journal.add_teacher %}
    <h4 class='bg-warning'>Отстранены / Уволены</h3>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Фамилия Имя</th>
            <th scope="col">Контакт</th>
            <th scope="col">Telegram</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody class="table-group-divider">
        {% for client in notactive %}

          <tr>
            <th scope="row">{{ forloop.counter }}</th>
            <td>{{ client.last_name}} {{ client.first_name}}</td>
            <td>{{ client.contact }}</td>
            <td>{% if client.tg_name != 'unknown' %} https://t.me/{{ client.tg_name }} {% endif %}</td>

            <td>
                <form action="" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="action" value="rem">
                    <input type="hidden" name="pk" value="{{ client.id }}">
                    <button type="submit" class="btn btn-danger btn-sm">Восстановить</button>
        
                  </form>
            </td>
        </tr>
        </tbody>
        {% endfor %}
    </table>
    {% endif %}
{% endblock content %}