<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">CYBERTRON</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{% url 'timetable' %}">Расписание</a>
            </li>
            {% if user.is_authenticated %}
            <li class="nav-item">
                <a class="nav-link active" href="{% url 'workingtime' %}">Журнал рабочих часов</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="{% url 'visitors' 0 0 %}">Журнал посещений</a>
            </li>
            {% endif %}
            </ul>
            
            <span class="navbar_text">
                {% if user.is_authenticated %}
                    <span class="navbar_text">
                        <a href="#" class="link-warning">{% if user.first_name %} {{user.first_name}} {% else %} {{ user.username }} {% endif %}</a> | 
                        <a href="{% url 'logout' %}" class="link-warning">Выйти</a>
                    </span>

                {% else %}
                <span class="navbar_text">
                    <a href="{% url 'login' %}" class="link-warning">Войти</a>
                </span>
                {% endif %}
            </span>

        </div>
    </div>
</nav>


